<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/template}"> <!-- 경로를 써준것.. ~{이 안에}-->
<th:block layout:fragment="content">
    <div id="main">
        <div class="mt-5">
            <i class="fa-regular fa-folder-open fa-2xl">게시판</i>
            <hr>
        </div>

        <div class="row mt-5 mb-3">
            <div class="row offset-1 col-7">
                <div class="col-2">
                    <select class="form-select" id="findtype">  <!-- findtype: 검색기능-->
                        <option value="title">제목</option>
                        <option value="userid">아이디</option>
                        <option value="name">글쓴이</option>
                        <option value="contents">내용</option>
                        <option value="titcont">제목+내용</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control col-2" id="findkey">
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-light" id="findbtn"><i class="fa fa-solid fa-magnifying-glass"></i> 검색하기</button>
                </div>
            </div>
            <div class="col-3 text-end">
                <button type="button" class="btn btn-light"><i class="fa fa-solid fa-plus-circle" id="newbdbtn"></i> 새글쓰기</button>
            </div>

        </div> <!-- 검색 및 새글쓰기-->

        <div class="row">
            <div class="offset-1 col-10">
                <table class="table table-striped tbborder">
                    <thead class="thbg">
                        <tr>
                            <th style="width: 7%">번호</th>
                            <th>제목</th>
                            <th style="width: 13%">작성자</th>
                            <th style="width: 13%">작성일</th>
                            <th style="width: 7%">추천</th>
                            <th style="width: 7%">조회</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>공지</th>
                            <th><span class="badge text-bg-danger">hot!</span>
                                석가탄신일, 성탄절 대체공휴일 확정!</th>
                            <th>운영자</th>
                            <th>2023-05-01</th>
                            <th>567</th>
                            <th>1234</th>
                        </tr>

                        <tr th:each="bd : ${bds}">
                            <td th:text="${bd.bno}">1</td>  <!-- th:text를 쓰면 1 자리에 글자가 들어간다 지금 들어가있는 1은 자동으로 바꿔치기 된다.
                            td 태그 사이에 있는 문자열로 바꿔줘!!!!!!!!!-->
                            <td><a th:href="|/board/view/${bd.bno}|"
                                   th:text="${bd.title}">시간은 골든리트리버라고 친구!</a></td><!-- 버티컬 바를 넣어주면 문자열 속의 문자를 인식한다(자바스크립트에서 백틱과 비슷한 역할)-->
                            <td th:text="${bd.userid}">운영자</td>
                            <td th:text="${#strings.substring(bd.regdate,0,10)}">2023-05-01</td>
                            <!-- 0부터 10개까지 문자만 나오게.. 작성일자를 날짜까지만 나오게끔-->
                            <td th:text="${bd.thumbs}">567</td>
                            <td th:text="${bd.views}">1234</td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div> <!-- 게시판 리스트-->

        <div class="row mt-3 mb-5">
            <div class="offset-1 col-10">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a href="#" class="page-link">처음처럼</a></li>
                        <li class="page-item"><a href="#" class="page-link">이전처럼</a></li>

                        <th:block th:each="i : ${#numbers.sequence(1, 10)}">
                            <!-- 숫자를 다룰때 #numbers.. -->
                            <!-- i라는 변수를 대입해서 페이지별로 넘어갈 수 있게-->
                            <li th:class="${(i ne cpg) ? 'page-item' : 'page-item active'}">
                                <a th:href="|/board/list/${i}|" class="page-link"
                                   th:text="${i}">1</a></li>
                        </th:block>


                        <li class="page-item"><a href="#" class="page-link">넥스트</a></li>
                        <li class="page-item"><a href="#" class="page-link">엔드</a></li>


                    </ul>
                </nav>


            </div>
        </div> <!-- 게시판 페이지네이션-->


    </div>

</th:block>
</html>