<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hi1237.hello.boot.spring5boot.mybatis.BoardMapper">
    <insert id="insertBoard" parameterType="Board">
           INSERT INTO board2 (userid, title, contents, ipaddr)
            values (#{userid},#{title},#{contents},#{ipaddr})</insert>

    <select id="selectBoard" resultType="Board">
         select bno, title, userid, regdate, thumbs, views from board2
            order by bno desc limit #{stnum}, 25
    </select>

    <select id="selectOneBoard" resultType="Board">
        select * from board2 where bno = #{bno}
    </select>

    <!-- 조회수 증가시키는 코드-->

    <update id="updateViewBoard">
        update board2 set views = views + 1 where bno = #{bno}
    </update>

    <select id="selectCountBoard">
        select ceil(count(bno) / 25) cntpg from board2
    </select>

    <!-- 동적질의문으로 검색 기능 구현 -->
    <!-- 단, 컬럼명이나 테이블명에는 #{} 가 아닌 ${}를 사용한다. -->
    <select id="selectFindBoard" parameterType="map" resultType="Board">
        <!-- 보내야 하는 변수가 1개가 아닌 3개이상이라 parameterType=Map으로 바꿔줌-->
        select bno, title, userid, regdate, thumbs, views from board2

        <if test="findtype != 'titcont'">
        where ${findtype} like concat('%', #{findkey}, '%')
        </if>
        <if test="findtype == 'titcont'">
        where title like concat('%', #{findkey}, '%')
                            or contents like concat('%', #{findkey}, '%')
        </if>

        order by bno desc limit #{stnum}, 25


    </select>

    <!-- 동적질의문으로 검색 기능 구현 2 : 검색했을 때 나오는 페이지네이션 -->
    <!-- 단, 컬럼명이나 테이블명에는 #{} 가 아닌 ${}를 사용한다. -->
    <select id="countFindBoard" parameterType="map">
        select ceil(count(bno) / 25) cntfpg from board2
        <!--검색결과 나올 때 어캐 나올지...-->
        <if test="findtype != 'titcont'">
            where ${findtype} like concat('%', #{findkey}, '%')
        </if>
        <if test="findtype == 'titcont'">
            where title like concat('%', #{findkey}, '%')
            or contents like concat('%', #{findkey}, '%')
        </if>

    </select>

</mapper>